@charset "UTF-8";

/* 폰트 import랑 .font가 세트임!*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

.font{
	font-family: 'Noto Sans KR';
	
}

/* 사이드바 */
/* 사이드바색상 */
.bg-gradient-primary {
    background-color: #6868ac;
    background-image: linear-gradient(180deg,#6868ac 10%,#3b3b79 100%);
    background-size: cover;
}

/* 공통 position-absolute */

.p-absolute {
    position: absolute;
}

/* 공통 플롯-right */
.f-right {
    float: right;
}

/* 공통 플롯-left */
.f-left {
    float: left;
}

/* 공통 text-align */
.t-center{
	text-align: center;
}

.t-left{
	text-align: left;
}

.t-right{
	text-align: right;
}

/* padding-bottom 0 */
.p-bottom-0{
	padding-bottom: 0;
}
	
/* 공통 div class="row" 마진 0*/
div .row{
	margin: 0;
}

/* 공통 버튼 동그랗게 */
.b-radius{
	border-radius: 30px;
}

/* 로고 */
.logo1{
	
}

/* 탑 타이틀 - 자원 */
/* 탑 타이틀 */
div#topTitle {
    margin-bottom: 10px;
}

/* 버튼수정 - 자원 */
.btn-edit{
	margin-right: 10px;
}

/* 리스트추가 아이콘 - 자원 */
/* 스타일링 */
.listAdd {
    background: #2ecc71;
    border: 1px solid;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 0.9em;
    font-weight: 500;
    padding: 0.5em 0.5em;
    position: relative;
}

.listAdd:hover {
  color: #2ecc71;
  background:#fff;
  border: 1px solid #2ecc71;
}

/* 자원추가 아이콘 - 자원 */
/* 스타일링 */
.jawonAdd{
	background: #6868AC;
    border: 1px solid;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 0.9em;
    font-weight: 500;
    padding: 0.3em 0.5em;
    position: relative;
}
.jawonAdd:hover {
  color: #6868AC;
  background:#fff;
  border:1px solid #6868AC;
}

/* a태그 호버시 색상 */
#a-hover:hover{
	text-decoration: none;
	color: #6868AC;
}

/* h1 굵기 크기 */
.h1-style{
	font-size: 1.6em;
    font-weight: bold;
}

/* h5 크기 */
.h5-style{
	font-size: 1.2em;
}


/*boardWright.jsp*/
/* 파일첨부 버튼 */
#fileinputlabel {
    position: absolute;
    margin-left: -30px;
}

input#exampleFormControlFile1 {
    width: 65%;
}
input#exampleFormControlFile1\ upfile {
    margin-left: -115px;
}
label#fileinputlabel {
    margin-left: -137px;
    margin-top: 3px;
}
/* 글등록버튼 */
div#se2_sample {
    width: 100px;
    float: right;
}

/* boardList.jsp */
/* 페이징 */
ul.pagination {
    float: right;
}
.bdListSearchText {
    width: 187px;
}
label.f-right {
    margin-left: 525px;
    float: left;
    margin-top: 3px;
}
.bdListSearch label.f-right {
    margin-left: 525px;
    float: left;
    margin-top: 3px;
}

/* boardDetail.jsp */
/* 댓글 라벨 */
.replylabel {
	margin: 0;
}
.detailbt{
	font-size: 0.7em;
	margin-left: 2px;
}
.bdDetailBtDiv{
	margin-top: -22px;	
}


